{
  "*.json": [
    "prettier --write",
    "git add"
  ],
  "*.{yml,yaml}": [
    "prettier --write",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ],
  "*.html": [
    "prettier --write",
    "git add"
  ],
  "*.js": [
    "prettier --write",
    "git add"
  ],
  "*.jsx": [
    "stylelint --fix",
    "prettier --write",
    "git add"
  ],
  "*.ts": [
    "prettier --write",
    "git add"
  ],
  "*.tsx": [
    "stylelint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{css,scss,sass}": [
    "stylelint --fix",
    "prettier --write",
    "git add"
  ]
}
